<a href="https://colab.research.google.com/github/AngelicaSalvino/CursoAWS/blob/main/Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ARRAYS


Declare dois arrays, cada um com um mínimo de cinco elementos, e imprima eles no terminal usando o comando print(). O primeiro array deve conter os produtos de uma loja da sua escolha (loja de comida, materiais de construção, música, etc). O segundo array deve conter os anos de nascimento de familiares e amigos seus. Lembre-se de usar nomes descritivos para nomear cada variável, e de usar o tipo de dado apropriado para cada lista (strings, booleanos, números inteiros, floats).

In [3]:
# Lista de Produtos

lista_produtos = ['arroz','feijao','tomate','sal','pimenta']
print(lista_produtos)
print(type(lista_produtos))

['arroz', 'feijao', 'tomate', 'sal', 'pimenta']
<class 'list'>

In [2]:
# Ano de nascimento

ano_nascimento = [ 1988 , 2000 , 1996 , 1950 , 1964 ]
print(ano_nascimento)

[1988, 2000, 1996, 1950, 1964]